{% extends 'base.html.twig' %}

{% block title %}Hello ServiceManagementController!{% endblock %}

{% block body %}
    <h1 class="mt-5 text-center">Gestion des services</h1>
    <div class="mt-5 container">
        {% for useraddress in address %}
            <div class=" mt-5">
                <div class="row">
                    <div class="col-4 tableAddress">{{ useraddress.Address }}</div>
                    <div class="col-4 tableAddress">{{ useraddress.postalCode }} {{ useraddress.City }}</div>
                    <div class="col-4 tableAddress">
                        Location :
                        {% if useraddress.rental==1 %}
                            oui
                        {% elseif useraddress.rental==0 or useraddress.rental== NULL %}
                            non
                        {% endif %}
                    </div>
                </div>

                {% for service in useraddress.service %}
                    <div class="row mt-1 blocServices">
                        <div class="col-2 tableServices">Nom : {{ service.name}}</div>
                        <div class="col-2 tableServices">Type : {{ service.type}}</div>
                        <div class="col-3 tableServices">Lien : {{ service.link}}</div>
                        <div class="col-2 tableServices">Prix :
                            {% if service.priceMonth == null %}
                                {{ service.priceYear }} €/an
                            {% elseif service.priceYear == null %}
                                {{ service.priceMonth }} €/mois
                            {% endif %}
                        </div>
                        <div class="col-3 tableServices text-center">
                            <div class="row">
                                <div class="col-lg-4"><a href="#">Modifier</a></div>
                                <div class="col-lg-4"><a href="#">Supprimer</a></div>
                                <div class="col-lg-4"><a href="{{ path('app_add_service', {id: useraddress.id}) }}">Ajouter</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>

{% endblock %}
