{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="container-fluid col-5">
        <div class="blocInfoPerso">
            <h3 class="text-center my-4">Informations personnelles</h3>
            <p><strong>Pseudo :</strong> {{ user.username }}</p>
            <p><strong>Nom :</strong> {{ user.name }}</p>
            <p><strong>Prénom :</strong> {{ user.firstname }}</p>
            <p><strong>Date de naissance :</strong> {{ user.dateOfBirth |date("m/d/Y")}}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <div class="button">
                <button type="button" class="btn btn-secondary">Modifier</button>
            </div>
        </div>

        <div class="blocListeHabitation">
            <h3 class="text-center my-3">Liste des habitations</h3>
            {% for addressUser in address  %}
                <div class="blochabitat">
                    <ul>
                        <li>
                            <p><strong>Adresse :</strong> {{ addressUser.address }}</p>
                            <p><strong>Code postal :</strong> {{ addressUser.postalcode }}</p>
                            <p><strong>Ville :</strong> {{ addressUser.city }}</p>

                                {% if addressUser.mainaddress == true %}
                            <p><strong>Habitation principale </strong>
                                {% endif %}
                        </li>
                    </ul>
                    <div class="button mb-2">
                        <button type="button" class="btn btn-secondary mx-2">Supprimer</button>
                        <button type="button" class="btn btn-secondary mx-2">Modifier</button>
                    </div>
                </div>
            {% endfor %}
            <button type="button" class="btn btn-secondary">+</button>
        </div>


    </div>

{% endblock %}
