{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <section class="profile">
        <h1>Profil de l'utilisateur</h1>
        <div class="after-title"></div>
        <div class="blocProfile container mt-5">
            <div class=" col-12 col-md-6 mx-md-2">
                <div class="blocInfoPerso">
                    <h3 class="text-center my-4">Informations personnelles</h3>
                    {% if app.user.isVerified != true %}
                        <p>Merci de valider votre mail afin d'avoir accès à la totalité du site internet et des options.</p>
                    {% endif %}
                    <p><strong>Pseudo :</strong> {{ user.username }}</p>
                    <p><strong>Nom :</strong> {{ user.name }}</p>
                    <p><strong>Prénom :</strong> {{ user.firstname }}</p>
                    <p><strong>Date de naissance :</strong> {{ user.dateOfBirth |date("m/d/Y")}}</p>
                    <p><strong>Email :</strong> {{ user.email }}</p>
                    <p><strong>Numéro de téléphone :</strong> {{ user.telephone }}</p>
                    <div class="button">
                        <a href="{{ path('app_user_update', {id:user.id}) }}" class="btn btn-outline-dark">Modifier</a>
                    </div>
                    <hr>
                    <div class="button">
                        <a href="{{ path('app_user_infoDelete', {id:user.id}) }}" class="btn btn-outline-dark">Supprimer compte</a>
                    </div>
                </div>
                <div class="blocIntegrationExtraction">
                    <h3 class="text-center my-4">Gestion des données</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum dicta dolorem
                        doloremque explicabo fugiat minima non nostrum odio pariatur quas similique, sint
                        velit! Cupiditate distinctio dolorem non odio velit?
                    </p>
                    <div class="boutonIntegrationExtraction py-4">
                        <a href="{{ path('app_json_data_extraction') }}" class="btn btn-outline-dark mx-2">Extraction</a>
                        <a href="{{ path('app_json_data_integration') }}" class="btn btn-outline-dark mx-2">intégration</a>
                    </div>

                </div>
            </div>

            {% if app.user.isVerified == true %}
                <div class="blocListeHabitation col-12 col-md-6 mx-md-2">
                    <h3 class="text-center my-4">Liste des habitations</h3>
                    {% for addressUser in address  %}
                        <div class="blochabitat">
                            {% if addressUser.number != null%}
                                <p><strong>Numéro :</strong> {{ addressUser.number }}</p>
                            {% endif %}

                            <p><strong>Adresse :</strong> {{ addressUser.address }}</p>

                            {% if addressUser.additional != null%}
                                <p><strong>Complément d'adresse :</strong> {{ addressUser.additional }}</p>
                            {% endif %}

                            <p><strong>Code postal :</strong> {{ addressUser.postalcode }}</p>
                            <p><strong>Ville :</strong> {{ addressUser.city }}</p>

                            {% if addressUser.mainaddress == true %}
                                <p><strong>Habitation :</strong> Principale</p>
                            {% elseif addressUser.mainaddress == false %}
                                <p><strong>Habitation :</strong> Secondaire</p>
                            {% endif %}

                            <p><strong>Type de logement :</strong> {{ addressUser.dwellingType }}</p>
                            <p><strong>Taille en m² :</strong> {{ addressUser.dwellingSize }}</p>

                            {% if addressUser.rental == true %}
                                <p><strong>Location :</strong> Oui </p>
                            {% else  %}
                                <p><strong>Location :</strong> Non </p>
                            {% endif %}
                            <div class="button mb-2">
                                <a href="{{ path('app_useraddress_delete', {id:addressUser.id }) }}" class="btn btn-outline-dark mx-2">Supprimer</a>
                                <a href="{{ path('app_useraddress_update', {id:addressUser.id }) }}" class="btn btn-outline-dark mx-2">Modifier</a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="row">
                        <div class="col-4 paginationAddress">
                            {% if page > 1  %}
                                <a href="{{ path('app_profile', {page : page -1}) }}">Page précédente</a>
                            {% endif %}
                        </div>
                        {% if nbAddress > limit %}
                            <div class="col-4 paginationAddress">
                                <p>Page : {{ page }}</p>
                            </div>
                        {% endif %}
                        <div class="col-4 paginationAddress">
                            {% if page < maxPage %}
                                <a href="{{ path('app_profile', {page : page +1}) }}">Page suivante</a>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ path('app_useraddress_add') }}" class="btn btn-outline-dark mx-2">+</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
