{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <div class="container-fluid col-5">
        <div class="blocInfoPerso">
            <h3 class="text-center my-4">Informations personnelles</h3>
            <p><strong>Pseudo :</strong> {{ user.username }}</p>
            <p><strong>Nom :</strong> {{ user.name }}</p>
            <p><strong>Prénom :</strong> {{ user.firstname }}</p>
            <p><strong>Date de naissance :</strong> {{ user.dateOfBirth |date("m/d/Y")}}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <div class="button">
                <a href="{{ path('app_user_update', {id:user.id}) }}" class="btn btn-secondary">Modifier</a>
            </div>
        </div>

        <div class="blocListeHabitation">
            <h3 class="text-center my-3">Liste des habitations</h3>
            {% for addressUser in address  %}
                <div class="blochabitat">

                            <p><strong>Adresse :</strong> {{ addressUser.address }}</p>
                            <p><strong>Code postal :</strong> {{ addressUser.postalcode }}</p>
                            <p><strong>Ville :</strong> {{ addressUser.city }}</p>

                                {% if addressUser.mainaddress == true %}
                                    <p><strong>Habitation :</strong> principale</p>
                                {% elseif addressUser.mainaddress == false %}
                                    <p><strong>Habitation :</strong> secondaire</p>
                                {% endif %}
                            <p><strong>Type de logement :</strong> {{ addressUser.dwellingType }}</p>
                            <p><strong>Taille en m² :</strong> {{ addressUser.dwellingSize }}</p>

                    {% if addressUser.rental == true %}
                        <p><strong>Location :</strong> Oui </p>
                    {% else  %}
                        <p><strong>Location :</strong> Non </p>
                    {% endif %}

                    <div class="button mb-2">
                        <a href="{{ path('app_useraddress_delete', {id:addressUser.id }) }}" class="btn btn-secondary mx-2">Supprimer</a>
                        <a href="{{ path('app_useraddress_update', {id:addressUser.id }) }}" class="btn btn-secondary mx-2">Modifier</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <a href="{{ path('app_useraddress_add') }}" class="btn btn-secondary mx-2">+</a>
        </div>


    </div>

{% endblock %}
